name: Drools Ansible RuleBook Integration Check

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - 'LICENSE'
      - '**/.gitignore'
      - '**.md'
      - '**.adoc'
      - '*.txt'
      - 'docsimg/**'
      - '.ci/jenkins/**'

jobs:
  drools-ansible:
    concurrency:
      group: pr-drools_ansible_${{ matrix.os }}_${{ matrix.java-version }}_${{ matrix.maven-version }}_${{ github.head_ref }}
      cancel-in-progress: true
    timeout-minutes: 120
    strategy:
      matrix:
        os: [ubuntu-latest]
        java-version: [17]
        maven-version: ['3.9.3']
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: Ansible Integration / ${{ matrix.os }} / Java-${{ matrix.java-version }} / Maven-${{ matrix.maven-version }}
    steps:
      - name: Clean Disk Space
        uses: kiegroup/kogito-pipelines/.ci/actions/ubuntu-disk-space@main
        if: ${{ matrix.os == 'ubuntu-latest' }}
      - name: Support long paths
        if: ${{ matrix.os == 'windows-latest' }}
        uses: kiegroup/kogito-pipelines/.ci/actions/long-paths@main
      - name: Java and Maven Setup
        uses: kiegroup/kogito-pipelines/.ci/actions/maven@main
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ matrix.maven-version }}
          cache-key-prefix: ${{ runner.os }}-${{ matrix.java-version }}-maven${{ matrix.maven-version }}
      - name: Build Chain
        uses: kiegroup/kogito-pipelines/.ci/actions/build-chain@main
        with:
          definition-file: https://raw.githubusercontent.com/${GROUP:kiegroup}/drools-ansible-rulebook-integration/${BRANCH:main}/.ci/pull-request-config.yaml
          annotations-prefix: ${{ runner.os }}-${{ matrix.java-version }}/${{ matrix.maven-version }}
          github-token: "${{ secrets.GITHUB_TOKEN }}"

  memory-leak-test:
    name: Memory Leak Test
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Clean Disk Space
        uses: kiegroup/kie-ci/.ci/actions/ubuntu-disk-space@main

      - name: Java and Maven Setup
        uses: kiegroup/kie-ci/.ci/actions/maven@main
        with:
          java-version: '17'
          maven-version: '3.9.3'

      - name: Build Chain
        uses: kiegroup/kie-ci/.ci/actions/build-chain@main
        with:
          definition-file: https://raw.githubusercontent.com/${GROUP:kiegroup}/drools-ansible-rulebook-integration/${BRANCH:main}/.ci/pull-request-config.yaml
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Run MemoryLeakTest
        run: |
          cd kiegroup_drools-ansible-rulebook-integration
          mvn test -Pmemoryleak-tests

      - name: Run load tests and analyze memory leaks
        run: |
          cd kiegroup_drools-ansible-rulebook-integration/drools-ansible-rulebook-integration-main
          chmod +x load_test_all.sh
          ./load_test_all.sh

      - name: Upload load test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: memory-leak-test-results
          path: kiegroup_drools-ansible-rulebook-integration/drools-ansible-rulebook-integration-main/result_all.txt
          retention-days: 30
