name: Java CI

on:
  push:
    tags:
      - "v*"

jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'


      - name: Install Drools Snapshot
        uses: actions/checkout@v3
        with:
          repository: kiegroup/drools
          path: drools

      - name: Build Drools Snapshot with Maven
        run: cd drools && mvn --batch-mode --update-snapshots install -Dquickly && cd ..

      - uses: actions/checkout@v3
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
      - run: mkdir staging && cp drools-ansible-rulebook-integration-durable-rest/target/*-runner.jar staging

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            staging/*.jar
